@font-face {
  font-family: Bryndan Write;
  src: url("Bryndan-Write-Book.ttf");
}

body {
  font-size: 35px;
  background: black;
  padding: 50px;
}

img {
  width: 100%;
  height: auto;
}

#piva {
  font-size: 24px;
}

#title {
  font-family: Bryndan Write;
}

#currentPage {
  color: rgb(22, 217, 0);
}

* {
  text-decoration: none;
  color: white;
}

#tab {
  margin-left: -40px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(22, 217, 0);
}

#tab ul {
  display: inline-flex;
  list-style-type: none;
  margin: 10px;
  margin-left: 0px;
}

#tab ul li {
  font-size: 35px;
  margin-right: 40px;
}

#tab ul li a:hover {
  color: rgb(22, 217, 0);
}

#div {
  font-size: 25px;
}

#div a:hover {
  color: rgb(0, 121, 0);
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container div {
  flex: 50%;
  padding: 8px;
}


/* #sinistra {
  width: 48%;
  float: left;
}

#destra {
  width: 48%;
  float: right;
} */

.icon {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container div {
    flex: 100%;
    padding: 0px;
  }

  body {
    padding: 20px;
  }
}